





/*navbar css*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "simsun";
}

.container{
    height: auto;
    overflow: hidden;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(138, 160, 190);
    padding: 8px;
    z-index: 2;
}

header h1{
    display: inline;
    font-size: 25px;
    margin-left: 25px;
    color:white;
}

nav{
    float: right;
    margin-right: 50px;

}

#active{
    color:#e4bdbd;
}

#home{
    text-decoration: none;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:white;
    border-left: 2px solid white;
    padding:0 40px;
    transition: 0.3s;
}

nav a:nth-of-type(5){
    border-right: 2px solid white;
}

nav a:hover{
    color:#555555;
}

.icon {
    display: none;
}

#closebtn{
    display: none;
    position: relative;
    font-size: 30px;
}

/*footer css*/

footer{
    height: 25vh;
    background-color:#8aa0be ;
    overflow: hidden;
    padding:50px 100px;
}

footer p{
    color: white;
    font-weight: 400;
    position: relative;
}

.RL{
    position: relative;
    bottom: 50px;
    margin-top: 2%;
    left: 50px;
}

.RL a{
    display: block;
    margin-bottom: 15px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

.RL a:hover{
    color:#555;
}

#logo2{
    position: absolute;
    right: 200px;
    top:273vh;
    width: 4%;
}

/*響應式 css*/

@media screen and (max-width:1000px) {
    
    header h1{
        position: relative;
        top:5px;
    }

    .navbar{
        display: none;
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    #closebtn{
        border: none;
    }

    .icon{
        display: inline;
        color: white;
        float: right;
        margin-right: 20px;
    }

    #navbar {
        height: 100vh;
        width: 0%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
      }

      .navbar a{
        display: block;
        border: none;
        padding: 10px;
        margin-top:10%;
        font-size: 25px;
      }

      .navbar a:nth-of-type(5){
        border: none;
      }

      footer p{
          position: relative;
          top:90px;
      }

      .RL{
          float: left;
          bottom: 30px;
          right: 0;
          left: 150px;
      }

      #logo2{
          width: 5%;
          top:310vh;
          right: 200px;
      }
}

@media screen and (max-width:700px) {

    #logo2{
        width: 7%;
        top:308vh;
        right: 100px;
    }

    .RL{
        left: 50px;
    }

    footer{
        padding: 50px 50px;
    }
}

@media screen and (max-width:400px) {
    .navbar a{
        font-size: 20px;
    }

    #logo2{
        width: 20%;
        top:322vh;
    }

    footer{
        padding: 0;
    }
    
    footer p{
        top:130px;
        padding-left: 10px;
    }

    .RL{
        bottom: 20px;
        left: 50px;
        
    }

    #logo2{
        width: 12%;
        top:307vh;
        right: 50px;
    }
}




.main {
    background-image: url(網頁0.jpg);
    opacity: 0.8;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 30%;
    position: relative;
}
#about {
    font-size: 50px;
    color:white ;
    position: absolute;
    top: 15%;
    left: 3%;
    letter-spacing: 2px;
    /* background-color:white; */
    padding-left: 3%;
}
h2{
    font-size: 20px;
    color: white;
    position: absolute;
    left: 10%;
    top: 29%;
    letter-spacing: 3px;
}


/* 第二區塊 */
.color {
    position: relative;
    background-color: rgb(255, 221, 221);
    height: 500px;
    padding-top: 30px;
}



/* 美食客棧理念 */
h3 {
    position: absolute;
    font-size: 25px;
    text-align: center;
    margin: 0px 50px;
    color: rgb(143, 143, 143);
    top: 30%;
    left: 59%;
    z-index: 1;
    letter-spacing: 3px;
}

.color p {
    position: absolute;
    top: 40%;
    left: 55%;
    z-index: 1;
    font-size: 18px;
    color: rgb(143, 143, 143);
    letter-spacing: 3px;
    width: 26%;
    text-indent: 42px;
    line-height: 1.5em;
}

.rec1 {
    position: absolute;
    width: 450px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: ;
}

h5 {
    transform: rotate(90deg);    
    padding-top: 90%;
    padding-left: 6%;
    font-size: 19px;
    letter-spacing: 2px;
}
.img3 {
    position: absolute;
    left: 20%;
    top: 24%;
    opacity: 0.9;
}





/* 成員欄位 */

#memberH {
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    font-weight: 350;
    letter-spacing: 2px;
}

/* 上排 */
.introUp {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* 下排 */
.introDown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5%;
}

/* 上排子元素 */
.intro {
    width: 16%;
    height: 300px;
    background-color: rgb(255, 221, 221);
    margin:20px;
    box-shadow: 3px 3px 8px rgb(170, 170, 170);
}

.photo{
    margin-top: 20px;
    text-align: center;
}



/* 下排子元素 */
.introD {
    width: 16%;
    height: 300px;
    background-color: rgb(255, 221, 221);
    margin:20px;
    box-shadow: 3px 3px 8px rgb(170, 170, 170);
}

h6 {
    font-size: 18px;
    font-weight: 400;
    margin: 15px 20px;
    letter-spacing: 2px;
    text-align: center;
}

.introPara {
    font-size: 16px;
    font-weight: 250;
    margin: 0px 20px; 
    text-align: center;
}


  









